In [1]:
import requests
import json
import pandas as pd

# POST to API
payload = {'code': 'ALL'} # or {'code': 'DE'}
URL = 'https://api.statworx.com/covid'
response = requests.post(url=URL, data=json.dumps(payload)) #dumps convert python object into string

# Convert to data frame
df = pd.DataFrame.from_dict(json.loads(response.text)) #loads used to parse a valid JSON string and convert it into a Python Dictionary.
print(df.head())

group = {'cases': ['sum'], 'deaths': ['sum']}
df = df.groupby(['country']).agg(group)
df

         date day month  year  cases  deaths      country code  population  \
0  2019-12-31  31    12  2019      0       0  Afghanistan   AF  38041757.0
1  2020-01-01  01    01  2020      0       0  Afghanistan   AF  38041757.0
2  2020-01-02  02    01  2020      0       0  Afghanistan   AF  38041757.0
3  2020-01-03  03    01  2020      0       0  Afghanistan   AF  38041757.0
4  2020-01-04  04    01  2020      0       0  Afghanistan   AF  38041757.0

  continent  cases_cum  deaths_cum
0      Asia          0           0
1      Asia          0           0
2      Asia          0           0
3      Asia          0           0
4      Asia          0           0

                   cases deaths
                     sum    sum
country
Afghanistan        49273   1971
Albania            48530   1003
Algeria            92102   2596
Andorra             7338     79
Angola             16188    371
...                  ...    ...
Wallis_and_Futuna      3      0
Western_Sahara       766      1
Yemen               2083    606
Zambia             18274    367
Zimbabwe           11246    307

[214 rows x 2 columns]