In [8]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt

# POST to API
payload = {'code': 'ALL'} # or {'code': 'DE'}
URL = 'https://api.statworx.com/covid'
response = requests.post(url=URL, data=json.dumps(payload)) #dumps convert python object into string

# Convert to data frame
df = pd.DataFrame.from_dict(json.loads(response.text)) #loads used to parse a valid JSON string and convert it into a Python Dictionary.
print(df.head())

         date day month  year  cases  deaths      country code  population  \
0  2019-12-31  31    12  2019      0       0  Afghanistan   AF  38041757.0
1  2020-01-01  01    01  2020      0       0  Afghanistan   AF  38041757.0
2  2020-01-02  02    01  2020      0       0  Afghanistan   AF  38041757.0
3  2020-01-03  03    01  2020      0       0  Afghanistan   AF  38041757.0
4  2020-01-04  04    01  2020      0       0  Afghanistan   AF  38041757.0

  continent  cases_cum  deaths_cum
0      Asia          0           0
1      Asia          0           0
2      Asia          0           0
3      Asia          0           0
4      Asia          0           0

In [6]:
# Wrangle Data frame
group = {'cases': ['sum'], 'deaths': ['sum']}
df2 = df.groupby(['country']).agg(group)
df2 = df2.reset_index()
df2.columns = df2.columns.droplevel(1)
df2

               country  cases  deaths
0          Afghanistan  49273    1971
1              Albania  48530    1003
2              Algeria  92102    2596
3              Andorra   7338      79
4               Angola  16188     371
..                 ...    ...     ...
209  Wallis_and_Futuna      3       0
210     Western_Sahara    766       1
211              Yemen   2083     606
212             Zambia  18274     367
213           Zimbabwe  11246     307

[214 rows x 3 columns]

In [ ]:
# Bar Graph

df2.bar

In [5]:
print(pd.set_option("display.max_rows", None, "display.max_columns", None))

None

In [6]:
group = {'cases': ['sum'], 'deaths': ['sum']}
df = df.groupby(['country']).agg(group)
df

                                               cases  deaths
                                                 sum     sum
country
Afghanistan                                    49273    1971
Albania                                        48530    1003
Algeria                                        92102    2596
Andorra                                         7338      79
Angola                                         16188     371
Anguilla                                          10       0
Antigua_and_Barbuda                              148       4
Argentina                                    1498160   40766
Armenia                                       148682    2503
Aruba                                           5049      46
Australia                                      28031     908
Austria                                       320036    4400
Azerbaijan                                    175874    1922
Bahamas                                         7674     163
Bahrain                                        89143     348
Bangladesh                                    490533    7052
Barbados                                         292       7
Belarus                                       160295    1263
Belgium                                       608001   17951
Belize                                          9295     195
Benin                                           3090      44
Bermuda                                          431       9
Bhutan                                           438       0
Bolivia                                       147150    9018
Bonaire, Saint Eustatius and Saba                173       3
Bosnia_and_Herzegovina                        101117    3336
Botswana                                       12501      37
Brazil                                       6901952  181402
British_Virgin_Islands                            76       1
Brunei_Darussalam                                152       3
Bulgaria                                      179449    5688
Burkina_Faso                                    4030      71
Burundi                                          729       1
Cambodia                                         359       0
Cameroon                                       25143     443
Canada                                        460743   13431
Cape_Verde                                     11357     110
Cases_on_an_international_conveyance_Japan       696       7
Cayman_Islands                                   298       2
Central_African_Republic                        4936      63
Chad                                            1770     102
Chile                                         571919   15886
China                                          92021    4739
Colombia                                     1425774   39053
Comoros                                          628       7
Congo                                           6049      99
Costa_Rica                                    150947    1895
Cote_dIvoire                                   21680     133
Croatia                                       175886    2640
Cuba                                            9423     137
Curaçao                                         3624      11
Cyprus                                         15101      78
Czechia                                       581079    9609
Democratic_Republic_of_the_Congo               14512     355
Denmark                                       109758     941
Djibouti                                        5728      61
Dominica                                          87       0
Dominican_Republic                            154692    2361
Ecuador                                       202110   13875
Egypt                                         121575    6920
El_Salvador                                    41880    1205
Equatorial_Guinea                               5185      85
Eritrea                                          711       0
Estonia                                        18055     149
Eswatini                                        6768     127
Ethiopia                                      116769    1806
Falkland_Islands_(Malvinas)                       19       0
Faroe_Islands                                    528       0
Fiji                                              46       2
Finland                                        30810     453
France                                       2376852   57911
French_Polynesia                               15618      91
Gabon                                           9330      63
Gambia                                          3782     123
Georgia                                       191063    1839
Germany                                      1337078   21975
Ghana                                          53014     327
Gibraltar                                       1075       5
Greece                                        124534    3625
Greenland                                         19       0
Grenada                                           69       0
Guam                                            7106     118
Guatemala                                     129282    4423
Guernsey                                         289      13
Guinea                                         13420      79
Guinea_Bissau                                   2444      44
Guyana                                          5920     155
Haiti                                           9565     234
Holy_See                                          26       0
Honduras                                      114359    2975
Hungary                                       283870    7130
Iceland                                         5557      28
India                                        9884100  143355
Indonesia                                     617820   18819
Iran                                         1108269   52196
Iraq                                          574634   12579
Ireland                                        76185    2124
Isle_of_Man                                      370      25
Israel                                        357859    2999
Italy                                        1843712   64520
Jamaica                                        11710     273
Japan                                         179653    2585
Jersey                                          1779      32
Jordan                                        259614    3365
Kazakhstan                                    186277    2552
Kenya                                          91892    1587
Kosovo                                         46580    1198
Kuwait                                        146218     911
Kyrgyzstan                                     77674    1312
Laos                                              41       0
Latvia                                         25675     349
Lebanon                                       146520    1200
Lesotho                                         2250      44
Liberia                                         1676      83
Libya                                          90779    1299
Liechtenstein                                   1514      18
Lithuania                                      95021     825
Luxembourg                                     41272     396
Madagascar                                     17638     258
Malawi                                          6066     187
Malaysia                                       83475     415
Maldives                                       13368      48
Mali                                            5814     194
Malta                                          11101     166
Marshall_Islands                                   4       0
Mauritania                                     10780     222
Mauritius                                        515      10
Mexico                                       1250044  113953
Moldova                                       126518    2572
Monaco                                           668       2
Mongolia                                         912       0
Montenegro                                     41426     582
Montserrat                                        13       1
Morocco                                       399609    6624
Mozambique                                     16954     142
Myanmar                                       108342    2268
Namibia                                        16536     160
Nepal                                         248423    1698
Netherlands                                   612746   10034
New_Caledonia                                     36       0
New_Zealand                                     1740      25
Nicaragua                                       5887     162
Niger                                           2258      80
Nigeria                                        73175    1197
North_Macedonia                                73638    2121
Northern_Mariana_Islands                         113       2
Norway                                         40022     387
Oman                                          126240    1471
Pakistan                                      440787    8832
Palestine                                     124657    1079
Panama                                        193007    3356
Papua_New_Guinea                                 725       8
Paraguay                                       93582    1953
Peru                                          984973   36677
Philippines                                   449400    8733
Poland                                       1135676   22864
Portugal                                      348744    5559
Puerto_Rico                                   107158    1272
Qatar                                         140961     240
Romania                                       556335   13385
Russia                                       2653928   46941
Rwanda                                          6659      56
Saint_Kitts_and_Nevis                             27       0
Saint_Lucia                                      275       4
Saint_Vincent_and_the_Grenadines                  98       0
San_Marino                                      1947      51
Sao_Tome_and_Principe                           1009      17
Saudi_Arabia                                  359888    6048
Senegal                                        17075     349
Serbia                                        266432    2331
Seychelles                                       187       0
Sierra_Leone                                    2440      75
Singapore                                      58320      29
Sint_Maarten                                    1232      26
Slovakia                                      132984    1175
Slovenia                                       96314    1459
Solomon_Islands                                   17       0
Somalia                                         4579     121
South_Africa                                  860964   23276
South_Korea                                    43484     587
South_Sudan                                     3206      62
Spain                                        1730575   47624
Sri_Lanka                                      32790     152
Sudan                                          21386    1347
Suriname                                        5353     117
Sweden                                        320098    7514
Switzerland                                   372329    5378
Syria                                           9166     518
Taiwan                                           740       7
Tajikistan                                     12704      88
Thailand                                        4237      60
Timor_Leste                                       31       0
Togo                                            3251      66
Trinidad_and_Tobago                             6879     122
Tunisia                                       111361    3894
Turkey                                        995471   16199
Turks_and_Caicos_islands                         769       6
Uganda                                         27532     221
Ukraine                                       900666   15247
United_Arab_Emirates                          184949     617
United_Kingdom                               1849403   64170
United_Republic_of_Tanzania                      509      21
United_States_Virgin_Islands                    1807      23
United_States_of_America                    16256754  299177
Uruguay                                         9708      92
Uzbekistan                                     75094     612
Vanuatu                                            1       0
Venezuela                                     107177     949
Vietnam                                         1397      35
Wallis_and_Futuna                                  3       0
Western_Sahara                                   766       1
Yemen                                           2083     606
Zambia                                         18274     367
Zimbabwe                                       11246     307